@import '_var.scss';


.checkout-page {

    .container {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .page-title {
            padding: 10px;
            background-color: $LightenOrange;
            border-radius: 4px;

            h1 {
                @include section-header-title();

                span {
                    color: $PrimaryRed;
                }
            }
        }

        .page-content-card {
            width: 100%;
            height: fit-content;
            padding: 15px 10px;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 10px;
            position: relative;
            
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .card-title {
                margin-bottom: 30px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 50px;
                    width: 40px;
                    border-radius: 4px;
                    background-color: $LightenOrange;
                }

                h1 {
                    font-size: 1rem;
                    font-weight: 600;
                    position: absolute;
                    z-index: 1;
                }
            }

            .card-section-title {
                font-weight: 600;
                font-size: 0.9rem;
            }

            .address-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                column-gap: 10px;
                row-gap: 5px;

                * {
                    font-size: 0.9em;
                }

                span {
                    font-weight: 600;
                }

                .input-area {
                    flex-basis: 100%;
                    width: 100%;

                    textarea {
                        height: 60px;
                    }

                    .error {
                        color: red;
                    }
                }
            }

            .card-content {
                width: 100%;
                height: fit-content;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 20px;
                row-gap: 10px;
                align-items: flex-start;
            }

            .table-responsive {
                width: 100%;
                height: fit-content;
                overflow: auto;

                table {
    
                    thead {
    
                        tr {
    
                            td {
                                font-size: 0.9em;
                                font-weight: 600;
                            }
                        }
                    }
    
                    tbody {
                        tr {
    
                            td {
                                font-size: 0.9em;

                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-weight: 600;
                                    font-size: 0.9em;

                                    &:hover {
                                        cursor: pointer;
                                        text-decoration: underline;
                                    }
                                }

                                .qty-wrapper {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    gap: 3px;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    
                                    input {
                                        flex-grow: 1;
                                        flex-basis: 20px;
                                    }

                                    i {
                                        padding: 0 5px;
                                        color: black;

                                        &:hover {
                                            cursor: pointer;
                                            color: $PrimaryRed;
                                        }
                                    }
                                }
    
                                .table-text {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                }
    
    
                                .image-container {
                                    width: 60px;
                                    height: 60px;
                                    border-radius: 4px;
                                    overflow: hidden;
    
                                    img {
                                        @include image-hover-animate();
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
    
                                .prices {
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-end;
                                    gap: 2px;
    
                                    .base-price {
                                        font-size: 0.9em;
                                        color: $DarkerOrange;
                                        text-decoration: line-through;
                                        word-break: break-all;
                                    }
    
                                    .final-price {
                                        font-size: 0.9em;
                                        word-break: break-all;
                                    }
    
                                }
    
                                &.amount {
                                    text-align: right;
                                    word-break: break-all;
                                }
    
                                .sub-total-wrapper {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: baseline;
                                    justify-content: flex-end;
                                    column-gap: 20px;
                                    row-gap: 10px;
                                    flex-wrap: wrap;
                                }
    
                                .sub-total-label {
                                    font-size: 0.9em;
                                    // flex-grow: 1;
                                    // width: 100%;
                                    // display: flex;
                                    // flex-direction: row-reverse;
                                    // align-items: center;
                                    // min-height: 60px;
                                }
                                
                                .sub-total {
                                    font-size: 1.1em;
                                    font-weight: 600;
                                //     display: flex;
                                //     flex-direction: column;
                                //     min-height: 60px;
                                //     justify-content: center;
                                }
    
                            }
    
                        }
                    }
                }
            }

            .button-wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
                justify-content: flex-end;
            }

        }

    }

}