@import '_var.scss';

.register-page {
    // height: calc(100vh - 130px);
    // min-height: fit-content;
    // background-color: $LightWhite;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;


        .register-card {
            padding: 20px 10px;
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            box-shadow: $BoxShadow;
            background-color: white;
            width: 100%;
            max-width: 500px;


            .register-card-title {
                h1 {
                    @include section-header-title();
                }
            }

            .register-card-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                * {
                    font-size: 0.9rem;
                }
                
                .form-floating {
                    width: 100%;

                    .error-msg {
                        color: $PrimaryRed;
                    }
                }

                .button-wrapper {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
            
        }
    }
}