.register-umkm-page .container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.register-umkm-page .container .page-title {
  padding: 10px;
  background-color: #F9D00F;
  border-radius: 4px;
}
.register-umkm-page .container .page-title h1 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.register-umkm-page .container .page-title h1 span {
  color: #F92727;
}
.register-umkm-page .container .page-content-card {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 10px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.register-umkm-page .container .page-content-card * {
  font-size: 0.9rem;
}
.register-umkm-page .container .page-content-card .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: space-around;
}
.register-umkm-page .container .page-content-card .row .image-wrapper {
  flex-basis: 180px;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  place-items: center;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  flex-shrink: 0;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container img {
  transition: all ease-in-out 0.3s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container .delete-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container .delete-image:hover {
  cursor: pointer;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container .delete-image i {
  font-size: 1.2rem;
  color: white;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container:hover .delete-image {
  display: grid;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container .no-image {
  width: 100%;
  height: 100%;
  background-color: #EDF0F3;
  display: grid;
  place-items: center;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container .no-image i {
  font-size: 1.2rem;
  color: #2A2A2A;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container .no-image:hover {
  cursor: pointer;
}
.register-umkm-page .container .page-content-card .row .image-wrapper .image-container .no-image:hover i {
  color: #F9D00F;
}
.register-umkm-page .container .page-content-card .row form {
  width: 60%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.register-umkm-page .container .page-content-card .row form textarea {
  height: 120px;
}
.register-umkm-page .container .page-content-card .row form .button-wrapper {
  width: 100%;
  flex-basis: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.register-umkm-page .container .page-content-card .row form .button-wrapper .btn-submit {
  background-color: #2A2A2A;
  font-weight: 600;
  color: white;
}
.register-umkm-page .container .page-content-card .row form .button-wrapper .btn-submit:hover {
  cursor: pointer;
  background-color: #F9D00F;
  color: white;
}/*# sourceMappingURL=umkm-register.css.map */